#anhnen {
    position: relative;
    left: 420px;
    border-radius: 10px;
    width: 650px;
    height: 440px;
}

.card-title {
    position: absolute;
    top: 30px;
    left: 600px;
    font-size: 30px;
    color: cornflowerblue;
}

.card-body {
    position: absolute;
    top: 110px;
    left: 415px;
}

span {
    color: red;
}
.form-horizontal{
    position: absolute;
    top: 10px;
    left: 420px;
}